body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0 20px;
    background-color: #a1e1ca;
    color: #333;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#continent {
    display: block;
    margin: 20px auto;
    padding: 8px 12px;
    font-size: 16px;
}


#content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
    margin-bottom: 40px;
}


.country-card {
    background-color: rgb(190, 122, 122);
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    padding: 15px;
    text-align: center;
    
}


.country-card img {
    width: 100px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.country-card h3 {
    margin: 10px 0 5px 0;
    font-size: 18px;
}

.country-card p {
    margin: 5px 0;
    font-size: 14px;
}


#details {
    max-width: 600px;
    margin: 30px auto;
    background-color: rgb(190, 122, 122);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

#details h1 {
    text-align: center;
    margin-bottom: 20px;
}

#details img {
    display: block;
    margin: 0 auto 20px auto;
    width: 150px;
    height: auto;
    border-radius: 8px;
}





    

  
